<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Gestor de Reparações</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="new-registration">Novo Registo</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">Histórico</NavLink>
        </div>
    </nav>
</div>
